## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [6]:
edad = 29

2) Imprimir el tipo de dato de la constante 8.5

In [10]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [9]:
print(type(edad))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [3]:
nombre = 'ivan Cepeda'

5) Crear una variable que contenga un número complejo

In [17]:
numero_complejo = 4+4j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [18]:
type(numero_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
pi =

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [19]:
var1 = 'true'
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [21]:
print(type(var1),type(var2))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [22]:
var3 = 3 +3.5

11) Realizar una operación de suma de números complejos

In [23]:
num = complex(4,6)
num2 = complex(3,4)
suma = (num +num2)
print (type(suma))

<class 'complex'>

12) Realizar una operación de suma de un número real y otro complejo

In [28]:
numreal = 5 
hola = numreal + num 
print("Suma de complejos",hola)

Suma de complejos (9+6j)

13) Realizar una operación de multiplicación

In [26]:
5*8

40

14) Mostrar el resultado de elevar 2 a la octava potencia

In [30]:
a = 2
b =8
potencia = a**b
print(potencia)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [32]:
a=27
b=4
c=a/b
print(c)

6.75

16) De la división anterior solamente mostrar la parte entera

In [33]:
print(int(c))
#print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [34]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [38]:
4 *6 +3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [42]:
var1 = 'Santiago'
var2 = 'Quiceno'
espacio =' '
nombre = var1 + espacio +var2
nombre

'Santiago Quiceno'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [44]:
"2"==2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [48]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [49]:
a= float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [50]:
var1 =3
var1 -= 1
print (var1)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [51]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [52]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [59]:
2*'2'

'22'